<h1> Modelos de Produtos</h1>

<%= link_to 'Cadastrar novo', new_product_model_path%>

<% if @product_models.any? %>
    <% @product_models.each do |product_model| %>
    <div>
    <h2><%= product_model.name%></h2>
    <td><%=link_to(product_model.name, product_model_path(product_model.id)) %> <<< Mais detalhes clique aqui </td>
    <dl>
      <dt>SKU</dt>
      <dd><%=product_model.sku%></dd>  
      <dt>Fornecedor</dt>
      <dd><%=product_model.supplier.brand_name%></dd>  
    </dl> 
    </div>
    <% end %>

<% else %>
  <p> Nenhum modelo de produto cadastrado.</p>
<% end %>